<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mark_one_arm">
    <xacro:arg name="initial_positions_file" default="$(find mark_one_arm_description)/config/initial_positions.yaml" />

    <!-- Import mark_one_arm urdf file -->
    <xacro:include filename="$(find mark_one_arm_description)/urdf/mark_one_arm.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="mark_one_arm.ros2_control.xacro" />


    <xacro:mark_one_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
