<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robotiq_camera" params="prefix parent">
        <link name="${prefix}robotiq_camera">
            <visual>
                <geometry>
                    <mesh filename="file://$(find custom_robotiq_description)/meshes/robotiq_wrist_camera.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <origin xyz="-37.875e-03 -37.875e-03 -6.5e-03" rpy="0 0 0" />
                <material name="black">
                    <color rgba="0.1 0.1 0.1 1.0"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="file://$(find custom_robotiq_description)/meshes/robotiq_wrist_camera.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <origin xyz="-37.875e-03 -37.875e-03 -6.5e-03" rpy="0 0 0" />
            </collision>
            <inertial>
                <!-- <origin xyz="-44.375e-03 -32.275e-03 -2.5e-03" rpy="0 0 0" /> -->
                <origin xyz="0 0 0" rpy="0 0 0" /> 
                <mass value="0.195" />
                <inertia ixx="1.1187203649e-04" ixy="6.31862766e-07" ixz="-1.84407399e-07" 
                        iyy="7.803770329e-05" iyz="2.7553716364e-06" izz="1.79318669337e-04"/>
            </inertial>
        </link>
    
        <joint name="${prefix}robotiq_camera_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${parent}"/>
            <child link="robotiq_camera"/>
        </joint>
    
        <gazebo reference="robotiq_camera">
            <mu1>0.9</mu1>
            <mu2>0.9</mu2>
            <material>Gazebo/Black</material>
        </gazebo>
    </xacro:macro>
</robot>