<?xml version="1.0" encoding="UTF-8"?>

<robot name="my_tutor_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find diff_summer_robot_description)/urdf/common_properties_tutor.xacro"/>
    <xacro:include filename="$(find diff_summer_robot_description)/urdf/mobile_base_tutor.xacro"/> 
</robot>